body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  height: initial;
}

.contact-us {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.contact-us h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Media Queries for responsiveness */
@media (max-width: 600px) {
 
  .contact-us {
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; 
    color: white;
    margin: 20px auto;
    padding: 20px;
  }

  .contact-us h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
    color: white;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #00ffc3; 
    box-shadow: 0 0 5px rgba(0, 255, 204, 0.5); 
    outline: none;
  }


  button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #00fffb8b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #00b398;
  }
}

