.nav {
  background: #333;
  color: #fff;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar {
  display: flex;
  list-style: none;
    background: #333;
  padding: 0;
  margin: 0;
}

.Navbar li {
  margin: 0 10px;
}

.Navbar li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Navbar li a .nav-text {
  margin-left: 8px;
}

.Navbar li a .mobile-icon {
  display: none;
}

@media (max-width: 768px) {
  .Navbar {
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #333;
    padding: 10px 0;
    border: 2px solid red;
  }
/* 
  .nav{
    display: none;
  } */

  .Navbar li {
    margin: 0;
  }

  .Navbar li a .nav-text {
    display: none;
  }

  .Navbar li a .mobile-icon {
    display: block;
    font-size: 20px;
  }

  /* Hide footer in mobile view */
  .footer {
    display: none;
  }
}
