
.productList {
  padding: 20px;
  padding-bottom: 50px;
}

.product-card .update-link {
  color: white; 
  text-decoration: none;
}

.product-table{
    background-color: white;
}

.product-table button{
  margin-top: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: #777;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.product-table .update-link
{
  color: rgb(255, 255, 255); 
  text-decoration: none;
}

h1 {
  text-align: center;
  color: white;
}

.table-container {
  display: block;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.product-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.product-table td {
  text-align: center;
}

.product-image {
  max-width: 50px;
  max-height: 50px;
}

/* Card styles */
.card-container {
  display: none; 
  display: grid;
  gap: 10px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  width: 100%;
  max-width: 300px;
  margin: 0 auto; /* Center the card */
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h2 {
  font-size: 1.2em;
  margin: 0;
  margin-top: 2px;
}

.product-card p {
  margin: 0;
}

.product-card button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.product-card button:hover {
  background-color: #0056b3;
}


.product-buttons button {
  margin-right: 8px;
  padding: 4px 8px; 
  font-size: 14px; 
}

.product-buttons button:last-child {
  margin-right: 0;
}

/* Responsive styles */
@media (max-width: 767px) {
  .table-container {
    display: none;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 768px){
  .card-container {
    display: none;
  }
}




.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  backdrop-filter: blur(5px);
}

.popup-content {
  background-color: #fff;
  padding: 10px 50px 10px 30px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #777;
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-content p {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.buy-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.buy-btn:hover {
  background-color: #45a049;
}

.popup-image {
  width: 100px; 
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 767px)
{
  .popup-content{
    width: 330px;
  }
}


.loader:disabled{
background-color: #ccc; 
  cursor: not-allowed;
}

.loader:not(:disabled):hover {
  background-color: #218838; /* Hover color */
}