.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.nav{
  width: 100%;
}
.Navbar{
  display: flex;
  list-style: none;
  margin: 0;
  background-color: aqua;
}
.Navbar li a{
  margin: 10px;
  text-decoration:none;
}

.Navbar li :hover{
  color: rgb(221, 109, 127);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.signup{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.signup input{
  margin: 0.5%;
}

.signup button{
  margin-right: 5%;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #61dafb;
  width: 100%;
  text-align: center;
}


.login{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.login h1 {
  text-align: left;
  align-items: left;
}
.login input{
  margin: 0.5%;
}

.validation{
  margin-right: 20px;
    color: red;
    padding-bottom: 10px;
}


.productList {
  text-align: center;
  top: 50%;
}

.productList ul li{
  display: inline-block;
  width: 150px;
  border: 1px solid blue;
  padding: 5px;
}

.productList ul{
  margin: 0;
}